@model coreFormValidation.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetail</title>
</head>
<body>
    <h2>Welcome</h2>
    <p>@Model.Username your password is @Model.Password</p>
</body>
</html>
