@model IList<coreFormValidation.Models.LoginViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsersList</title>
</head>
<body>
    <h2>Users List</h2>
    <ul>
        @foreach (var user in Model)
        {
            <li>
                <p>Username: @user.Username</p>
                <p>Password: @user.Password</p>
                @* <hr /> *@
            </li>
        }
    </ul>
)
</body>
</html>
