
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeeklyTypedLogin</title>
</head>
<body>
    @using(Html.BeginForm("LoginPost","Account",FormMethod.Post))
    {        
        <div>
            <h2>Weekly Typed Login MotherFucker!!!</h2>
            <div>
                Username:@Html.TextBox("Username")
            </div>
            <div>
                Username:@Html.Password("Password")
            </div>
            <div>
               <input type="submit" value="Login" />
            </div>
        </div>
    }
</body>
</html>
